
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <img src="../assets/image/WhatsApp Image 2024-01-10 at 10.34.53 PM.jpeg" class="image">

            </div>

            <div class="col-md-6" style=" position: relative;">

                <!-- Edite in this coloum .............. -->

                <div class="ss">
                    <div style="text-align: center;  margin-left: 6em;">
                    <button class="btn join-button" type="submit" (click)="logout()"  style=" border: 1px solid #A95454; color: #A95454;">LogOut</button>
                    </div>
                    <div style="text-align: center;">
                        <p style="font-size: 1.2em;">Welcome to <b style="color: sienna;">PANDA</b> Home Page</p>
                    </div>
                    <div style="text-align: center;">
                       <p style="font-family: josh;"> Login User Details</p>
                    </div>
                    <div style="text-align: center; margin-top: 2em; display: flex;justify-content: center;">
                   <b> email :</b> <p style="color: sienna;">{{data}}<p>
                    </div> 

                </div> 



            </div>

        </div>


    </div>


</body>

</html>>
